Clientes/Service References/ServicioDatos/SrvDatos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvDatos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2186/SrvDatos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2186/SrvDatos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2186/SrvDatos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvDatos_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpresas" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllAccionesComerciales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccionesComerciales" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllAccionesComerciales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccionesComercialesResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosContacto" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosContactoResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposAccion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposAccion" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposAccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposAccionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvDatos">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllUsers" message="tns:ISrvDatos_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllUsersResponse" message="tns:ISrvDatos_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllEmpresas" message="tns:ISrvDatos_GetAllEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllEmpresasResponse" message="tns:ISrvDatos_GetAllEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccionesComerciales">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllAccionesComerciales" message="tns:ISrvDatos_GetAllAccionesComerciales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllAccionesComercialesResponse" message="tns:ISrvDatos_GetAllAccionesComerciales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposEmpresa" message="tns:ISrvDatos_GetAllTiposEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposEmpresaResponse" message="tns:ISrvDatos_GetAllTiposEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosEmpresa" message="tns:ISrvDatos_GetAllTelefonosEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosEmpresaResponse" message="tns:ISrvDatos_GetAllTelefonosEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosContacto" message="tns:ISrvDatos_GetAllTelefonosContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosContactoResponse" message="tns:ISrvDatos_GetAllTelefonosContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposAccion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposAccion" message="tns:ISrvDatos_GetAllTiposAccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposAccionResponse" message="tns:ISrvDatos_GetAllTiposAccion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrvDatos" type="tns:ISrvDatos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmpresas">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccionesComerciales">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllAccionesComerciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTiposEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTelefonosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosContacto">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTelefonosContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposAccion">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTiposAccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvDatos">
    <wsdl:port name="BasicHttpBinding_ISrvDatos" binding="tns:BasicHttpBinding_ISrvDatos">
      <soap:address location="http://localhost:2186/SrvDatos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>