Clientes/Service References/ServicioDatos2/SrvDatos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvDatos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2187/SrvDatos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2187/SrvDatos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2187/SrvDatos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvDatos_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpresas" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllAccionesComerciales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccionesComerciales" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllAccionesComerciales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccionesComercialesResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosContacto" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTelefonosContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTelefonosContactoResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposAccion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposAccion" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllTiposAccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTiposAccionResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllContactos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactos" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllContactos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactosResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllCargos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCargos" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetAllCargos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCargosResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_EditEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_EditEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTipoEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTipoEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTipoEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTipoEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTipoEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTipoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTipoAccion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoAccion" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTipoAccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoAccionResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTipoAccion_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTipoAccion" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTipoAccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTipoAccionResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTelefonoEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTelefonoEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTelefonoEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTelefonoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTelefonoEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTelefonoEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTelefonoEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTelefonoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTelefonoContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTelefonoContacto" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddTelefonoContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTelefonoContactoResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTelefonoContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTelefonoContacto" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarTelefonoContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTelefonoContactoResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarUser_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarUser" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_BorrarUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISrvDatos_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvDatos">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllUsers" message="tns:ISrvDatos_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllUsersResponse" message="tns:ISrvDatos_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllEmpresas" message="tns:ISrvDatos_GetAllEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllEmpresasResponse" message="tns:ISrvDatos_GetAllEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccionesComerciales">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllAccionesComerciales" message="tns:ISrvDatos_GetAllAccionesComerciales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllAccionesComercialesResponse" message="tns:ISrvDatos_GetAllAccionesComerciales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposEmpresa" message="tns:ISrvDatos_GetAllTiposEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposEmpresaResponse" message="tns:ISrvDatos_GetAllTiposEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosEmpresa" message="tns:ISrvDatos_GetAllTelefonosEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosEmpresaResponse" message="tns:ISrvDatos_GetAllTelefonosEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosContacto" message="tns:ISrvDatos_GetAllTelefonosContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTelefonosContactoResponse" message="tns:ISrvDatos_GetAllTelefonosContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposAccion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposAccion" message="tns:ISrvDatos_GetAllTiposAccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllTiposAccionResponse" message="tns:ISrvDatos_GetAllTiposAccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContactos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllContactos" message="tns:ISrvDatos_GetAllContactos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllContactosResponse" message="tns:ISrvDatos_GetAllContactos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCargos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetAllCargos" message="tns:ISrvDatos_GetAllCargos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetAllCargosResponse" message="tns:ISrvDatos_GetAllCargos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetEmpresa" message="tns:ISrvDatos_GetEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetEmpresaResponse" message="tns:ISrvDatos_GetEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/EditEmpresa" message="tns:ISrvDatos_EditEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/EditEmpresaResponse" message="tns:ISrvDatos_EditEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/AddEmpresa" message="tns:ISrvDatos_AddEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/AddEmpresaResponse" message="tns:ISrvDatos_AddEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/BorrarEmpresa" message="tns:ISrvDatos_BorrarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/BorrarEmpresaResponse" message="tns:ISrvDatos_BorrarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTipoEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/AddTipoEmpresa" message="tns:ISrvDatos_AddTipoEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/AddTipoEmpresaResponse" message="tns:ISrvDatos_AddTipoEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarTipoEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTipoEmpresa" message="tns:ISrvDatos_BorrarTipoEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTipoEmpresaResponse" message="tns:ISrvDatos_BorrarTipoEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTipoAccion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/AddTipoAccion" message="tns:ISrvDatos_AddTipoAccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/AddTipoAccionResponse" message="tns:ISrvDatos_AddTipoAccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarTipoAccion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTipoAccion" message="tns:ISrvDatos_BorrarTipoAccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTipoAccionResponse" message="tns:ISrvDatos_BorrarTipoAccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTelefonoEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/AddTelefonoEmpresa" message="tns:ISrvDatos_AddTelefonoEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/AddTelefonoEmpresaResponse" message="tns:ISrvDatos_AddTelefonoEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarTelefonoEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTelefonoEmpresa" message="tns:ISrvDatos_BorrarTelefonoEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTelefonoEmpresaResponse" message="tns:ISrvDatos_BorrarTelefonoEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTelefonoContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/AddTelefonoContacto" message="tns:ISrvDatos_AddTelefonoContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/AddTelefonoContactoResponse" message="tns:ISrvDatos_AddTelefonoContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarTelefonoContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTelefonoContacto" message="tns:ISrvDatos_BorrarTelefonoContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/BorrarTelefonoContactoResponse" message="tns:ISrvDatos_BorrarTelefonoContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/AddUser" message="tns:ISrvDatos_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/AddUserResponse" message="tns:ISrvDatos_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/BorrarUser" message="tns:ISrvDatos_BorrarUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/BorrarUserResponse" message="tns:ISrvDatos_BorrarUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/EditUser" message="tns:ISrvDatos_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/EditUserResponse" message="tns:ISrvDatos_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvDatos/GetUser" message="tns:ISrvDatos_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvDatos/GetUserResponse" message="tns:ISrvDatos_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrvDatos" type="tns:ISrvDatos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmpresas">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccionesComerciales">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllAccionesComerciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTiposEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTelefonosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTelefonosContacto">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTelefonosContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTiposAccion">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllTiposAccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContactos">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllContactos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCargos">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetAllCargos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/EditEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/AddEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/BorrarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTipoEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/AddTipoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTipoEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/BorrarTipoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTipoAccion">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/AddTipoAccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTipoAccion">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/BorrarTipoAccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTelefonoEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/AddTelefonoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTelefonoEmpresa">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/BorrarTelefonoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTelefonoContacto">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/AddTelefonoContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTelefonoContacto">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/BorrarTelefonoContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarUser">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/BorrarUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ISrvDatos/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvDatos">
    <wsdl:port name="BasicHttpBinding_ISrvDatos" binding="tns:BasicHttpBinding_ISrvDatos">
      <soap:address location="http://localhost:2187/SrvDatos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>