Clientes/Service References/ServicioDatos2/SrvDatos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2187/SrvDatos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:ArrayOfUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllEmpresasResult" nillable="true" type="q2:ArrayOfEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccionesComerciales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccionesComercialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllAccionesComercialesResult" nillable="true" type="q3:ArrayOfAccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTiposEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTiposEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllTiposEmpresaResult" nillable="true" type="q4:ArrayOfTipoEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTelefonosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTelefonosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllTelefonosEmpresaResult" nillable="true" type="q5:ArrayOfTelefonosData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTelefonosContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTelefonosContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllTelefonosContactoResult" nillable="true" type="q6:ArrayOfTelefonosData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTiposAccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTiposAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllTiposAccionResult" nillable="true" type="q7:ArrayOfTipoAccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllContactosEmpresaResult" nillable="true" type="q8:ArrayOfContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCargos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCargosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllCargosResult" nillable="true" type="q9:ArrayOfCargoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCargosContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCargosContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllCargosContactoResult" nillable="true" type="q10:ArrayOfCargoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetEmpresaResult" nillable="true" type="q11:EmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="empresa" nillable="true" type="q12:EmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="empresa" nillable="true" type="q13:EmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmpresaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTipoEmpresaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTipoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTipoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarTipoEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTipoAccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTipoAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTipoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarTipoAccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTelefonoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="telefono" nillable="true" type="q14:TelefonosData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTelefonoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTelefonoEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTelefonoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTelefonoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarTelefonoEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTelefonoContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="telefono" nillable="true" type="q15:TelefonosData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTelefonoContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTelefonoContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTelefonoContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTelefonoContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarTelefonoContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="user" nillable="true" type="q16:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="user" nillable="true" type="q17:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetUserResult" nillable="true" type="q18:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetContactoResult" nillable="true" type="q19:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllContactosResult" nillable="true" type="q20:ArrayOfContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="contacto" nillable="true" type="q21:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContactoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="contacto" nillable="true" type="q22:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccionComercial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAccionComercialResult" nillable="true" type="q23:AccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="accion" nillable="true" type="q24:AccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccionComercialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idaccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarAccionComercialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="accion" nillable="true" type="q25:AccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAccionComercialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccionesComercialesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccionesComercialesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllAccionesComercialesEmpresaResult" nillable="true" type="q26:ArrayOfAccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccionesComercialesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccionesComercialesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllAccionesComercialesUsuarioResult" nillable="true" type="q27:ArrayOfAccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllEstadosResult" nillable="true" type="q28:ArrayOfEstadoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEstadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCargoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarCargoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDireccionesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDireccionesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllDireccionesEmpresaResult" nillable="true" type="q29:ArrayOfDireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDireccionesContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDireccionesContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetAllDireccionesContactoResult" nillable="true" type="q30:ArrayOfDireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetDireccionResult" nillable="true" type="q31:DireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="direccion" nillable="true" type="q32:DireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDireccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="direccion" nillable="true" type="q33:DireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDireccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarDireccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="direccion" nillable="true" type="q34:DireccionData" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDireccionEmpresaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccionContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="direccion" nillable="true" type="q35:DireccionData" />
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccionContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDireccionContactoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarDireccionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarDireccionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarDireccionEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarDireccionContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarDireccionContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarDireccionContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="tipo" nillable="true" type="q36:TipoEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTipoEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetTipoEmpresaResult" nillable="true" type="q37:TipoEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="tipo" nillable="true" type="q38:TipoAccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTipoAccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetTipoAccionResult" nillable="true" type="q39:TipoAccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="cargo" nillable="true" type="q40:CargoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCargoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetCargoResult" nillable="true" type="q41:CargoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="estado" nillable="true" type="q42:EstadoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="GetEstadoResult" nillable="true" type="q43:EstadoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DireccionToString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="direccion" nillable="true" type="q44:DireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DireccionToStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DireccionToStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="user" nillable="true" type="q45:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="empresa" nillable="true" type="q46:EmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaRapida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaRapidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="BusquedaRapidaResult" nillable="true" type="q47:ArrayOfBusquedaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteTelefonoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="telefono" nillable="true" type="q48:TelefonosData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteTelefonoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteTelefonoEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteTelefonoContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="telefono" nillable="true" type="q49:TelefonosData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteTelefonoContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteTelefonoContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="BusquedaAvanzadaUserResult" nillable="true" type="q50:ArrayOfUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="BusquedaAvanzadaContactoResult" nillable="true" type="q51:ArrayOfContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="web" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="BusquedaAvanzadaEmpresaResult" nillable="true" type="q52:ArrayOfEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaAvanzadaAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/almerimatik.ServicioCRM" minOccurs="0" name="BusquedaAvanzadaAccionComercialResult" nillable="true" type="q53:ArrayOfAccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>